extends layout

block content
  h1= title
  .container
    .row#panel-content
      .panel.panel-default
        .panel-heading.clearfix
          b.panel-title.pull-left
            | #{note.subject}
          p#center-text.pull-right #{moment(note.publishedOn).format("MM-DD-YYYY, h:mm:ss a")}
        .panel-body
          .col-xs-6.col-md-6
            a.thumbnail()
              img(src='/uploads/#{note.noteimage}')
          .col-xs-6.col-md-6
            p #{note.content}
        .panel-footer 
          ul.nav.nav-pills(role='tablist')
            li(role='presentation')
              a.btn(href='#', role='button')
                span.glyphicon.glyphicon-thumbs-up
                span.badge #{note.rank}
            li(role='presentation')
              a.btn(href='#', role='button')
                span.glyphicon.glyphicon-comment
                if comments
                  span.badge #{comments.length}
                else
                  span.badge 0
          if comments && comments.length>0
            .row#comment-scroll
              each comment in comments
                .row#comment-area
                  .col-md-1.col-xs-1.center-block
                    img(src= "../../uploads/#{user.profilepicture}", height='30', width='30')
                  .col-md-11.col-xs-11.well
                    p #{comment.content}
                    .row#comment-date
                      p.pull-right #{moment(comment.date).format("MM-DD-YYYY, h:mm:ss a")}
          hr
          .row#comment-area
            img(src= "../../uploads/#{user.profilepicture}", height='30', width='30')
            form(method='post', action='/notes/comments/#{note._id}')
              input(name='noteid', type='hidden', value = '#{note._id}')
              .form-group
                textarea.form-control#comment-scroll(type='text', name='content')
              input.btn.btn-default(name='submit',type='submit',value='Add Comment')
              