extends layout

block content
  h1= title
  .container
    .row
      .col-sm-3
        #midCol(data-spy='affix', data-offset-top='300')
          .well
            img.img-rounded(src= "../../uploads/#{member.profilepicture}", height='100', width='100')
            h3
               p #{member.name}
            p Joined On: #{moment(member.joinedOn).format("MM-DD-YYYY")}
            p Group: #{member.group}
            p Member Description
        if canAddNote
          a.btn.btn-info.note-btn(href='/notes/add', role='button') Add Note
        if notes
          #midCol(data-spy='affix', data-offset-top='300')
            ul.list-group
              each note in notes
                li.list-group-item  
                  a(href='') #{note.subject}
      .col-sm-7
        .row
          .col.col-sm-12
            h2 Notes:
          hr
