extends layout

block content
  h1= title
  .container
    .row
      .col-sm-3
        #midCol(data-spy='affix', data-offset-top='300')
          .well
            img.img-rounded(src= "../../uploads/#{member.profilepicture}", height='100', width='100')
            h3
               p #{member.name}
            p Joined On: #{moment(member.joinedOn).format("MM-DD-YYYY")}
            p Group: #{member.group}
            p Member Description
        if canAddNote
          a.btn.btn-info.note-btn(href='/notes/add', role='button') Add Note
        if topnotes && topnotes.length>0
          #midCol(data-spy='affix', data-offset-top='300')
            h3 Top 5 Notes:
            ul.list-group
              - var i =0
              while i<5 && i< notes.length
                li.list-group-item  
                  a(href='') #{topnotes[i].subject}
                - i++
        else if canAddNote
          .alert.alert-warning(role='alert') Add you first note?       
      .col-sm-7
        .row
          .col.col-sm-12
            ul.list-group
              each note in notes
                .panel.panel-default
                  .panel-heading.clearfix
                    b.panel-title.pull-left
                      | #{note.subject}
                    if canAddNote
                      .btn-group.pull-right
                        a.btn(href='/notes/edit/#{note.id}', role='button')
                          span.glyphicon.glyphicon-pencil.blue
                        a.btn(href ='/notes/delete/#{note.id}', role='button')
                          span.glyphicon.glyphicon-remove.red
                  .panel-body.scroll
                    .col-xs-6.col-md-6
                       a.thumbnail()
                         img(src='/uploads/#{note.noteimage}')
                    p #{note.content}
                  .panel-footer 
                    ul.nav.nav-pills(role='tablist')
                      li(role='presentation')
                        a.btn(href='/notes/like/#{note.id}', role='button')
                          span.glyphicon.glyphicon-thumbs-up
                          span.badge #{note.rank}
                      li(role='presentation')
                        a.btn(href='/notes/comments/#{note.id}', role='button')
                          span.glyphicon.glyphicon-comment
                          if note.comments
                            span.badge #{note.comments.length}
                          else
                            span.badge 0
                      li.pull-right(role='presentation')
                        p#center-text #{moment(note.publishedOn).format("MM-DD-YYYY, h:mm:ss a")}
                  
               
