extends layout

block content
  h1= title
  .container
    .row
      .col-sm-3
        #midCol(data-spy='affix', data-offset-top='300')
          .well
            img.img-rounded(src= "../../uploads/#{member.profilepicture}", height='100', width='100')
            h3
               p #{member.name}
            p Joined On: #{moment(member.joinedOn).format("MM-DD-YYYY")}
            p Group: #{member.group}
            p Member Description
        if canAddNote
          a.btn.btn-info.note-btn(href='/notes/add', role='button') Add Note
        if notes
          #midCol(data-spy='affix', data-offset-top='300')
            h3 Top 5 Notes:
            ul.list-group
              - var i =0
              while i<5 && i< notes.length
                li.list-group-item  
                  a(href='') #{notes[i].subject}
                - i++
                  
      .col-sm-7
        .row
          .col.col-sm-12
            ul.list-group
              each note in notes
                .panel.panel-default
                  .panel-heading.clearfix
                    b #{note.subject}
                    .btn-group.pull-right
                      a.btn.btn-default.btn-sm(href='#') 
                        span.glyphicon.glyphicon-edit
                      a.btn.btn-default.btn-sm(href='#') Edit
                  .panel-body #{note.content}
               
