extends layout

block content
  h1= title
  .container
    .row
      .col-sm-3
        #midCol(data-spy='affix', data-offset-top='300')
          .well
            img.img-rounded(src= "../../uploads/#{user.profilepicture}", height='100', width='100')
            h3
               p #{user.name}
            p Joined On: #{moment(user.joinedOn).format("MM-DD-YYYY")}
            p Group: #{user.group}
            p User Description
        button.btn.btn-primary.note-btn Add new note
        if notes
          #midCol(data-spy='affix', data-offset-top='300')
            ul.list-group
              each note in notes
                li.list-group-item  
                  a(href='') #{note.subject}
      .col-sm-7
        .row
          .col.col-sm-12
            h2 Notes:
          hr
